# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.tox
.venv
venv/
.env
*.env
.pyre
.pytype
mypy_cache

# Local development
*.log
*.sqlite3
*.sqlite3-journal

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db